/*  zeroui字体库
zeroui使用了@font-face技术,自己开发了一套字体。
*/

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'zeroui';  /* project id 248017 */
    src: url('//at.alicdn.com/t/font_r27sl91wsskedn29.eot');
    src: url('//at.alicdn.com/t/font_r27sl91wsskedn29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_r27sl91wsskedn29.woff') format('woff'),
    url('//at.alicdn.com/t/font_r27sl91wsskedn29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_r27sl91wsskedn29.svg#zeroui') format('svg');
}

// 与bootstrap相同, zeroui的icon通常作为伪元素的方式嵌入
[class^="zeroui_icon_"]:before, [class*=" zeroui_icon_"]:before {
    font-family: "zeroui";
    font-style: normal;
    font-weight: normal;
    speak: none; // 听觉样式表,不转成听觉内容

    display: inline-block;
    //vertical-align: middle;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em; // 与右方的文字或者内容, 增加0.2em的边距
    text-align: center; // 居中
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em; // 与左方的文字或者内容, 增加0.2em的边距

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
// 规定css样式与font-face的对应关系
.zeroui_icon_circle_left:before { content: "\e61f" }
.zeroui_icon_circle_right:before { content: "\e620" }
.zeroui_icon_arrow_left:before { content: "\e600" }
.zeroui_icon_arrow_right:before { content: "\e601" }
.zeroui_icon_arrow_down:before { content: "\e63d" }
.zeroui_icon_arrow_up:before { content: "\e63c" }
.zeroui_icon_image:before { content: "\e62c" }
.zeroui_icon_follow:before { content: "\e602" }
.zeroui_icon_thumb:before { content: "\e61e" }
.zeroui_icon_empty_heart:before { content: "\e659" }
.zeroui_icon_solid_heart:before { content: "\e65a" }
.zeroui_icon_tips:before { content: "\e72b" }
.zeroui_icon_slider:before { content: "\e655" }
.zeroui_icon_close:before { content: "\e641" }

.zeroui_icon_flag:before { content: "\e602" }
.zeroui_icon_search:before { content: "\e6e8" }
.zeroui_icon_person:before { content: "\e611" }

.zeroui_icon_check:before { content: "\e624" } /* '' */
.zeroui_icon_uncheck:before { content: "\e625" } /* '' */

.zeroui_icon_calendar:before { content: "\e61a" }
.zeroui_icon_age:before { content: "\e637" }
.zeroui_icon_sex:before { content: "\e63e" }
.zeroui_icon_location:before { content: "\e604" }
.zeroui_icon_tag:before { content: "\e639" }
.zeroui_icon_go:before { content: "\e603" }
.zeroui_icon_clear:before { content: "\e6ad" }

.zeroui_icon_fbc_logo:before { content: "\e65f" }


.zeroui_icon_success:before { content: "\e6f1" }
.zeroui_icon_small_change:before { content: "\e88c" }
.zeroui_icon_together_donation:before { content: "\e663" }

