<div class="hd">
    <h1 class="page_title">Button</h1>
</div>
<div class="bd spacing">
    <a href="javascript:;" class="zeroui_btn zeroui_btn_primary">按钮</a>
    <a href="javascript:;" class="zeroui_btn zeroui_btn_disabled zeroui_btn_primary">按钮</a>
    <a href="javascript:;" class="zeroui_btn zeroui_btn_default">按钮</a>
    <a href="javascript:;" class="zeroui_btn zeroui_btn_disabled zeroui_btn_default">按钮</a>
    <div class="button_sp_area">
        <a href="javascript:;" class="zeroui_btn zeroui_btn_mini zeroui_btn_primary">按钮</a>
        <a href="javascript:;" class="zeroui_btn zeroui_btn_mini zeroui_btn_default">按钮</a>
    </div>
    <div class="button_sp_area">
        <a href="javascript:;" class="zeroui_btn zeroui_btn_mini zeroui_btn_primary zeroui_btn_square">按钮</a>
        <a href="javascript:;" class="zeroui_btn zeroui_btn_mini zeroui_btn_default zeroui_btn_square">按钮</a>
    </div>
    <div class="button_sp_area">
        <a href="javascript:;" class="zeroui_btn zeroui_btn_mini zeroui_btn_primary">
            <i class="zeroui_icon_search"></i>按钮
        </a>
        <a href="javascript:;" class="zeroui_btn zeroui_btn_mini zeroui_btn_default">
            <i class="zeroui_icon_info_circle"></i>按钮
        </a>
    </div>
</div>