<div class="hd">
    <h1 class="page_title">Cell</h1>
</div>
<div class="bd">
    <div class="zeroui_cells_title">带说明的列表项</div>
    <div class="zeroui_cells">
        <div class="zeroui_cell">
            <div class="zeroui_cell_bd zeroui_cell_primary">
                <p>标题文字</p>
            </div>
            <div class="zeroui_cell_ft">说明文字</div>
        </div>
        <div class="zeroui_cell">
            <div class="zeroui_cell_bd zeroui_cell_primary">
                <p>标题文字</p>
            </div>
            <div class="zeroui_cell_ft">说明文字</div>
        </div>
    </div>
    <div class="zeroui_cells_title">可跳转的列表项</div>
    <div class="zeroui_cells zeroui_cells_access">
        <a class="zeroui_cell" href="javascript:;">
            <div class="zeroui_cell_bd zeroui_cell_primary">
                <p>标题文字</p>
            </div>
            <div class="zeroui_cell_ft">
                跳转提示
            </div>
        </a>
        <a class="zeroui_cell" href="javascript:;">
            <div class="zeroui_cell_bd zeroui_cell_primary">
                <p>标题文字</p>
            </div>
            <div class="zeroui_cell_ft">
                跳转提示
            </div>
        </a>
    </div>
    <div class="zeroui_cells_title">表单</div>
    <div class="zeroui_cells zeroui_cells_form">
        <div class="zeroui_cell">
            <div class="zeroui_cell_hd"><label class="zeroui_cell_label">手机号</label></div>
            <div class="zeroui_cell_bd zeroui_cell_primary">
                <input class="zeroui_cell_input" type="number" pattern="[0-9]*" placeholder="请输入手机号"/>
            </div>
            <div class="zeroui_cell_ft"><button class="zeroui_btn zeroui_btn_primary zeroui_btn_mini" style="margin-left: 10px;">发送</button></div>
        </div>
        <div class="zeroui_cell">
            <div class="zeroui_cell_hd"><label class="zeroui_cell_label">验证码</label></div>
            <div class="zeroui_cell_bd zeroui_cell_primary">
                <input class="zeroui_cell_input" type="number" pattern="[0-9]*" placeholder="请输入4位验证码"/>
            </div>
        </div>
    </div>

</div>

<div class="zeroui_submit_outer">
    <div class="zeroui_submit_inner">
        <button class="zeroui_btn zeroui_btn_primary">提交</button>
    </div>
</div>