<div class="hd">
    <h1 class="page_title">Progress</h1>
</div>
<div class="bd spacing">
    <div class="zeroui_progress">
        <div class="zeroui_progress_bar">
            <div class="zeroui_progress_inner_bar primary js_progress" style="width: 10%;"></div>
        </div>
    </div>
    <br>
    <div class="zeroui_progress">
        <div class="zeroui_progress_bar">
            <div class="zeroui_progress_inner_bar primary" style="width: 30%;"><span>已捐6个月</span></div>
            <div class="zeroui_progress_inner_bar warn" style="width: 30%;"><span>2个月</span></div>
            <div class="zeroui_progress_inner_bar default" style="width: 40%;"><span>差4个月捐满</span></div>
        </div>
    </div>
    <br>
    <div class="zeroui_progress">
        <div class="zeroui_progress_bar zeroui_progress_bar_with_desc">
            <div class="zeroui_progress_inner_bar primary" style="width: 30%;"><span>已捐6个月</span></div>
            <div class="zeroui_progress_inner_bar warn" style="width: 30%;"><span>2个月</span></div>
            <div class="zeroui_progress_inner_bar default last" style="width: 40%;"><span>差4个月捐满</span></div>
            <div class="zeroui_progress_outer_desc" style="left:30%">
                <img src="images/avatar.png">
            </div>
            <div class="zeroui_progress_outer_desc" style="left:60%">
                <img src="images/avatar.png">
                <span>我要捐200元</span>
            </div>
        </div>
    </div>

    <div class="btn_area">
        <a href="javascript:;" class="zeroui_btn zeroui_btn_primary" id="btnStartProgress">上传</a>
    </div>
</div>